<div class="container">
  <mat-card *ngFor="let product of products$ | async">
    <div class="product-info">
      <div class="product-img">
        <img src="{{ product.imgUrl }}">
      </div>
      <div class="product-title-author">
        <h1>{{ product.title }}</h1>
        <h2>{{ product.author }}</h2>
      </div>
    </div>
    <div class="product-price">
      <h1>{{ product.price | currency: 'USD' }}</h1>
    </div>
  </mat-card>
  <mat-card *ngIf="(cartCounter$ | async) else empty">
    <div id="total-info">
      <div></div>
      <h1>
        Total: {{ total$ | async | currency: 'USD' }}
      </h1>
    </div>
  </mat-card>
  <ng-template #empty>
    <div class="empty-cart">
      <h1>Cart is empty!</h1>
      <button mat-flat-button color="primary" [routerLink]="['/']">Continue Shopping</button>
    </div>
  </ng-template>
</div>