.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

mat-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;

  .product-img {
    max-width: 300px;
    max-height: 400px;

    img {
      width: 100%;
    }
  }

  .product-price {
    text-align: right;
  }

  #total-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

mat-icon {
  color: red;
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  mat-card {
    flex-direction: row;
    justify-content: space-between;

    .product-info {
      display: flex;
    }

    .product-img {
      margin-right: 20px;
      width: 100px;
    }
  }
}
