.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

mat-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 0;

  .product-title-author {
    width: 20%;
  }

  .product-img {
    max-width: 300px;
    max-height: 400px;

    img {
      width: 100%;
    }
  }

  .product-actions {
    display: flex;
    justify-content: space-around;
    width: 10%;
  }

  #total-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

mat-icon {
  color: red;
}

@media only screen and (min-width: 600px ) {
  mat-card {
    flex-direction: row;
    justify-content: center;

    .product-img {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 900px ) {
  mat-card {
    flex-direction: row;
    justify-content: space-between;

    .product-img {
      margin-right: 20px;
      width: 100px;
    }

    .info-container {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      align-items: center;
    }
  }
}