.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card {
  width: 25%;
  margin-bottom: 50px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-btn, .add-to-cart-btn {
  width: 50%;
  margin: 5px;
  font-size: 16px;
}
