.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-btn {
  width: 100%;
  font-size: 16px;
}
